---
interface Props {
  className?: string;
}
const { className = '' } = Astro.props;
---
<div class={`bento-grid ${className}`}>
  <slot />
</div>

<style>
  .bento-grid {
    display: grid;
    width: 100%;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
  }
  @media (max-width: 900px) {
    .bento-grid {
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
    }
  }
</style>
